.add-to-cart {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    right: 30px;
    margin-left: 80%;
}

.add-to-cart:hover {
    background-color: #55c459; /* Green */
    cursor: pointer;
}

.remove-from-cart {
    background-color: #f44336; /* Red */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    right: 30px;
    margin-left: 80%;
}

.calculate-button {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.product {
    border: 1px solid #000; /* Black */
    padding: 15px;
}

.product-image {
    display: inline;
    height: 100px;
}

.product-description {
   color: #333; /* Dark Grey */
   display: inline;
}


.cool-form {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    max-width: 300px;
    margin: auto;
}

.form-label {
    display: block;
    margin-bottom: 10px;
}

.form-input {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ced4da;
    margin-bottom: 20px;
}

.form-submit {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.form-submit:hover {
    background-color: #0056b3;
}

.popup {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 20px;
    border-radius: 5px;
    color: white;
}

.popup.success {
    background-color: #28a745;
}

.popup.error {
    background-color: #dc3545;
}


