/* main */

.cards {
    background-color: #eeee;
    margin-top: 30px;
}

h3 {
    margin-top: 60px;
    margin-bottom: 30px;
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.calendar {
    margin-left: 30px;
    text-align: center;
    width: 30vw;
    display: table-cell;

    img {
        max-width: 100%;
    }

    p {
        font-size: 30px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    }

    input {
        width: 80%;
        height: 25px;
        margin: 3px;
    }
}

ol {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.first-day {
    grid-column-start: 6;
}

.day-name {
    background: #eee;
    font-weight: bold;
    text-align: center;
}

.contenedor {
    width: 100%;
    height: 250px;
    display: flex;
    justify-content: space-between;
}

