/* main */

.fototips {
    width: 100%;
    height: 370px;
    display: flex;
    justify-content: space-between;

    img {
        width: 100%;
        object-fit: cover;
    }

    p {
        font-size: 25px;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
}