html {
    background-color: #ffb0b04a;
}

/* header */

header {
    box-shadow: -1px -3px 11px;
    background-color: #ffb0b0;
    padding: 25px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

.nav-link-DDD2 {
    color: $nav-color;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;
    text-align: left;
    text-shadow: 2px 2px 2px rgb(177, 45, 67);
}

.nav-link {
    color: $nav-color;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-align: center;
    display: inline;
    padding: 15px;
}

nav ul {
    display: inline-block;
    text-shadow: 2px 2px 2px rgb(177, 45, 67);
}

nav ul li {
    display: inline-block;
}
nav ul li :hover {
   color: rgb(201, 73, 94)!important;
}